#page-login {
  display: flex;

  &.page-registration {
    body{
      background: linear-gradient(180deg, #FFFFFF 0%, #F1F5FD 100%);
    }

    aside {
      padding: 40px;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.01em;

      @include mobile {
        padding: 20px;
      }
    }
  }

  body{
    min-height: 100%;
    background-color: #F1F5FD;
  }

  .page-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  aside {
    width: 350px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1F5FD;

    @include tablet {
      width: 300px;
    }

    @include mobile {
      width: 100%;
      min-height: auto;
      order: 2;
      margin: 40px 0 0;
    }

    .img-container {
      width: 100%;

      img {
        width: 100%;
        display: block;
      }
    }

    .quote-container {
      width: 100%;
      background: #F59D1B url("../images/icon-quotes.svg") -15px -41px no-repeat;
      padding: 50px 0 48px;
      flex-grow: 1;
      overflow: hidden;

      .slider-container {
        display: flex;
        height: 0;
        opacity: 0;
        flex-wrap: wrap;

        &.shown {
          height: auto;
          opacity: 1;
        }

        .slide {
          color: #fff;
          padding: 0 50px 0 43px;

          @include tablet {
            padding: 0 25px;
          }

          &:focus {
            outline: none;
          }

          .quote-text {
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            font-style: italic;
            letter-spacing: 0.01em;
          }

          .quote-owner {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            font-style: normal;
            margin: 20px 0 0;

            span {
              font-size: 14px;
              line-height: 21px;
              opacity: 0.5;
              display: block;
              margin: 5px 0 0;
            }
          }
        }

        .slick-list {
          width: 100%;
          margin: 0 0 14px;
        }

        .slick-arrow {
          width: 20px;
          height: 21px;
          position: static;
          order: 2;
          background: url("../images/icon-caret-right.svg") no-repeat 50% 50%;
          transform: none;
          align-self: flex-start;

          &:before {
            display: none;
          }

          &.slick-prev {
            transform: rotate(180deg);
            margin: 0 0 0 37px;

            @include tablet {
              margin: 0 0 0 21px;
            }
          }
        }
      }
    }

    .logo {
      width: 175px;
      height: 37px;
      background-image: url("../images/logo.svg");
      background-size: 175px auto;
      display: block;
    }

    .use-cases {
      margin: 135px 0 0;

      @include mobile {
        margin: 50px 0 0;
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
      }

      p {
        margin: 20px 0 0;
        color: $col_grey;
      }

      ul {
        padding: 0 0 0 12px;
        margin: 20px 0 0;
        color: $col_grey;

        li {
          &:before {
            content: '•';
            margin: 0 4px 0 0;
          }
        }
      }
    }

    .icon-container {
      margin: 134px 0 0 -14px;

      @include tablet {
        margin: 134px 0 0 -40px;
      }

      @include mobile {
        margin: 50px 0 0 -14px;
      }

      img {
        display: block;
      }
    }

    .copy {
      margin: 77px 0 0;
      opacity: 0.5;

      @include mobile {
        margin: 30px 0 0;
      }
    }
  }

  .page-content {
    flex-grow: 1;
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;

    @include mobile {
      padding: 30px 20px 0;
      display: block;
    }

    .logo {
      width: 175px;
      height: 37px;
      background-image: url("../images/logo.svg");
      background-size: 175px auto;
      display: block;
      margin: 0 auto;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;

      @include mobile {
        position: static;
      }
    }

    .inner-content {
      max-width: 411px;
      margin: 0 auto;

      .heading-container {
        @include mobile {
          margin: 30px 0 0;
        }

        .heading {
          font-size: 24px;
          line-height: 24px;
          font-weight: 600;
        }

        .sub-heading {
          font-size: 14px;
          line-height: 28px;
          color: $col_grey;
          margin: 14px 0 0;

          @include mobile {
            line-height: 20px;
          }
        }
      }

      .form {
        max-width: 400px;
        margin: 50px auto 0;

        .login-options {
          margin: 20px 0 0;
          display: flex;
          justify-content: space-between;

          .remember {
            input {
              position: fixed;
              opacity: 0;
              pointer-events: none;

              &:focus {
                & + label {
                  &:before {
                    border-color: $col_blue;
                  }
                }
              }

              &:checked {
                & + label {
                  &:before {
                    background-color: $col_blue;
                    border-color: $col_blue;
                  }

                  &:after {
                    opacity: 1;
                  }
                }
              }
            }

            label {
              font-size: 14px;
              line-height: 24px;
              position: relative;
              padding: 0 0 0 33px;
              cursor: pointer;

              &:before,
              &:after {
                content: '';
                position: absolute;
                transition: all 0.1s;
              }

              &:before {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                background-color: #fff;
                border: 1px solid #fff;
                top: 1px;
                left: 1px;
              }

              &:after {
                width: 10px;
                height: 9px;
                background-image: url("../images/icon-tick.svg");
                top: 5px;
                left: 4px;
                opacity: 0;
              }
            }
          }

          .forgot-pass {
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 0;
          }
        }

        .btn-login {
          width: 100%;
          margin: 20px 0 0;
          padding: 12px;
        }

        .get-started {
          font-size: 14px;
          line-height: 14px;
          color: $col_dark_black;
          margin: 30px 0 0;

          a {
            text-decoration: underline;
            color: #969DB6;
          }
        }
      }
    }

    .book-container {
      width: 100%;
      min-height: 100%;
      margin: 0 auto;
      padding: 165px 30px 50px;
      display: flex;

      @include mobile {
        min-height: 600px;
        padding: 50px 20px 30px;
      }

      .calendly-inline-widget {
        width: 100%;
        min-width: 320px;
        flex-grow: 1;
      }
    }
  }
}